<!DOCTYPE html>
<head>
	<title>JacobBot Landing Page</title>
	<link rel="stylesheet" type="text/css" href="static/styles/landing.css">
	<script src="static/js/landing.js"></script>
</head>
<body>
<div class="centre-align">
	<h1 class="welcome">Welcome to JacobBot</h1>
  <h3 class="welcome">Please choose an option below</h3>
  <button class="welcome-button" onclick="adminpanel()">Go to the admin panel</button>
  <button class="welcome-button" onclick="signup()">Request credentials</button>
  <p></p>
  </div>  
  
</body>

