<!DOCTYPE html>
<head>
  <title>JacobBot Admin Panel</title>
  <link rel="stylesheet" type="text/css" href="static/styles/login.css">
</head>
<body>
  <div class="centre-align">
    <h1 class="welcome">Welcome to JacobBot Admin Panel</h1>
    <h3 class="welcome">Please login below</h3>
<form class="pad" action="/login_page" method="post">
<input type="text" name="uname" placeholder="Username" class="login centre-align"><br>
<input type="password" name="pass" placeholder="Password" class="login centre-align"><br>
  <input type="submit" value="Submit" class="welcome-button">
</form>
  </div>
  <script src="static/js/login.js"></script>
</body>
