<!DOCTYPE html>
<head>
  <title>JacobBot Sign-Up</title>
  <link rel="stylesheet" type="text/css" href="static/styles/signup.css">
</head>
<body>
  <div class="centre-align">
    <h1 class="welcome">JacobBot Admin Panel Sign-Up Page</h1>
    <h3 class="welcome">Please sign-up below</h3>
<form class="pad" action="/signup_page" method="post">
<input type="text" name="uname" placeholder="Username" class="login centre-align"><br>
<input type="password" name="pass" placeholder="Password" class="login centre-align"><br>
<input type="text" name="uuid" placeholder="Telegram UUID" class="login centre-align"><br>
  <input type="submit" value="Submit" class="welcome-button">
</form>
  </div>
  <script src=="static/js/signup.js"></script>
</body>
