body{
  background-color: #54D9F4;
  border: 1px solid white;
  border-radius: 25px;
}
.centre-align{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.welcome{
  color: white;
  font-weight: normal;
}
.welcome-button{
  background-color: #34D1F1;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  //box-shadow: 2px 2px; 
}
.welcome-button:hover{
  transition: all 0.2s;
  //border: 2px solid white;
  box-shadow: 1px 1px;
  text-shadow: 0.25px 0.25px;
}
*{
  text-shadow: 1px 1px #000000;
  
}
